<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Unos studenta</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />
        <script src="js/StudentAjax.js"></script>
        <script src="js/dodajStudenteCSV.js" defer></script>
    </head>
    <body>
        <div class="container">
            <div class="card mt-3">
                <div class="card-header">Unos studenta</div>
                <div class="card-body card-text">
                    <form id="forma">
                            <label class="row" for="csv">Unesite studente u CSV formatu: ime,prezime,indeks,grupa</label>
                            <div class="row">
                                <textarea class="form-control" name:='csv' id="csv" rows="6"></textarea>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="d-flex justify-content-end">
                                    <button type='button' id="posalji" class="btn btn-secondary">Dodaj studente</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div id="ajaxstatus"></div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </body>
</html>
