<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sirotinjski.css">
    <title>Unos vježbi</title>
    <script src="js/unosVjezbi.js" defer></script>
    <script src="js/vjezbeAjax.js" async></script>
</head>
<body>
    <div class="container">
        <div class="card mt-3">
            <div class="card-header">Unos vježbi</div>
            <div class="card-body card-text">
                <form>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="brojVjezbi">Broj vježbi</label>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" id="brojVjezbi" name="brojVjezbi">
                        </div>
                    </div>  
                    <div class="form-group row" id="unosZadataka"></div>                 
                    <div class="form-group row">
                        <div class="d-flex justify-content-end">
                            <button id="posalji" class="btn btn-secondary">Pošalji zadatke</button>
                        </div>
                    </div>
                </form>            
            </div>
        </div>
    </div>
</body>
</html>